{% extends 'base.html' %}
{% block title %}  {{post.title}} {% endblock %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">


<body id="top">
    <!-- Header
    ================================================== -->
    

    <!-- Content
    ================================================== -->
    
    <div class="s-content">
        {% block content %}
    <div class="row">
        <div class="s-content__main large-8 column ">
                    <h2><strong>About me </strong></h2>
                    <p><strong>{{page_user.user.first_name}}</strong></p> 
                        
                        <p class = 'small text-muted'>
                            {% if page_user.profile_pic %}
                                <img class ="img-fluid" width="200" height="200" src = "{{page_user.profile_pic.url}}">
                            {% else %}
                                <img class ="demo-image" src = "{% static 'images/pro-pic.png' %}" width="200" height="200">
                            {% endif %}
                            <p><strong>{{page_user.user.first_name}}</strong></p> 
                            <p><strong>{{page_user.user.last_name}}</strong></p> 
                            {% if page_user.bio %}
                                  
                                <p >{{page_user.bio}}</p>
                            {% endif %}
                            {% if page_user.twitter %}
                                <a href="{{page_user.twitter}}">Twitter</a>|
                            {% endif %}
                            {% if page_user.facebook %}
                                <a href="{{page_user.facebook}}">|facebook</a>
                            {% endif %}
                            {% if page_user.instagram %}
                                <a href="{{page_user.instagram}}">|instagram</a>
                            {% endif %}
                            {% if page_user.linkedin %}
                                <a href="{{page_user.linkedin}}">|linkedin</a>
                            {% endif %}
                        </p>

        </div>
    </div>
        
     </div> <!-- end main -->



            <div id="sidebar" class="s-content__sidebar large-4 column">

           
                <div class="widget widget--categories">
                    
                </div>
               
            </div>  

        </div> <!-- end row -->
    
</div> <!-- end content-wrap -->
{% endblock %}

   

</body>

</html>